@{
    ViewData["nvc"] = "试卷管理";
    ViewBag.Title = "易考通";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    .input_bottom { display: initial; border: none; border-bottom: 2px solid #1ab394; }
</style>
<div class="row  border-bottom white-bg dashboard-header">
    <h3>手工组卷</h3>
    <div class="ibox-content">
        <div class="row form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger">*</span> 试卷名称：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input_bottom" id="AddP_Name" name="AddP_Name" placeholder="请输入试卷名称">
                    </div>
                    <label for="inputEmail3" class="col-sm-3 control-label"><span class="text-danger">*</span> 打乱同一题型下的试题顺序：</label>

                    <div class="col-sm-3">
                        <div style="text-align: left;" class=" control-label">
                            <span class="m-r-xs">
                                <input type="radio" class="i-checks" name="IsOrder" id="P_IsOrderA" checked="checked" value="1"></span>是		
                       <span class="m-l-md"><span class="m-r-xs">
                           <input type="radio" class="i-checks" name="IsOrder" id="P_IsOrderB" value="0"></span>否</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row form-horizontal">
            <div class="row">

                <div class="col-sm-3 m-b-xs">
                    <select class="form-control input-s-sm inline" id="PaperQB_Type">
                        <option value="0">题型选择</option>
                        <option value="1">单选题</option>
                        <option value="2">多选题</option>
                        <option value="3">判断题</option>
                        <option value="4">填空题</option>
                        <option value="5">简答题</option>

                        <option value="6">名词解释题</option>
                        <option value="7">案例分析题</option>
                        <option value="8">论述题</option>
                    </select>
                </div>

                <div class="col-sm-3 m-b-xs">
                    <input type="text" placeholder="题目描述" id="PaperQB_Description" class="form-control">
                </div>

                <div class="col-sm-3 m-b-xs">
                    <select class="form-control input-s-sm inline" id="PaperStateK">
                        <option value="0">加卷状态</option>
                        <option value="1">已加入当期试卷</option>
                        <option value="2">未加入当期试卷</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <div class="input-group">
                        <select class="form-control input-s-sm inline" id="PaperIsUse">
                            <option value="0">是否被使用</option>
                            <option value="1">已使用</option>
                            <option value="2">未使用</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="searchinfo()">搜索</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div style="height: 5px;">&nbsp;</div>

        <div class="row">
            <div class="pull-left">
                @{
                    //管理员
                    if (ViewData["UserType"].ToString() == "1")
                    { 
                    <span class="text-danger">说明：当前仅系统题目可被使用。</span>
                    }
                }

            </div>
            <div class="pull-right">
                <button onclick="Add()" class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus-square-o m-r-xs"></i><span class="bold">加入试卷</span></button>
                <button onclick="ClearAdd()" class="btn btn-success btn-sm" type="button"><i class="fa fa-minus-square-o m-r-xs"></i><span class="bold">移出试卷</span></button>
            </div>
        </div>

        <div class="row m-t-sm table-responsive">
            <table class="table text-center table-bordered ">
                <thead>
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">
                            <input type="Checkbox" class="i-checks checkbox-all" id="Allcheckbox"></th>
                        <th class="text-center">题目描述</th>
                        <th class="text-center">题型</th>
                        <th class="text-center">加卷状态</th>
                        <th class="text-center">是否被使用</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="new_table text-center" id="tablelist">
                    <tr>
                        <td>
                            <input type="checkbox" class="i-checks" value="1" name="input[]">
                        </td>
                        <td>题目1</td>
                        <td>单选题</td>
                        <td>加入当前试卷</td>
                        <td><span class="text-danger">已使用</span></td>
                        <td>
                            <a style="margin-left: 5px;" href="#" class=" btn-info btn-sm"><i class="fa fa-lightbulb-o m-r-xxs"></i>查看 </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!--分页开始-->
        <div class="row text-center" id="PaginatorLibrary">
        </div>
        <!--分页结束-->

        <div class="row form-horizontal">
            <div class="row">
                <label for="inputEmail3" class="col-sm-1 control-label"></label>
                <div class="col-sm-11">
                    <div class="m-t-sm font-bold ">
                        试卷总分: <span class="text-success m-l-sm m-r-sm" id="PScore">0</span>
                        试卷题量：<span class="text-success m-l-sm m-r-sm" id="PTNum">0</span>
                    </div>


                    <div class="col-sm-6 m-b-xs" id="display_kt_1">
                        单选题 <span class="font-bold text-success" id="STNUM1">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('1')" type="text" id="STScores1" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS1">0</span> 分；
                    </div>
                    <div class="col-sm-6 m-b-xs" id="display_kt_2">
                        多选题 <span class="font-bold text-success" id="STNUM2">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('2')" type="text" id="STScores2" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS2">0</span> 分；
                    </div>

                    <div class="col-sm-6 m-b-xs" id="display_kt_3">
                        判断题 <span class="font-bold text-success" id="STNUM3">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('3')" type="text" id="STScores3" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS3">0</span> 分；
                    </div>
                    <div class="col-sm-6 m-b-xs" id="display_kt_4">
                        填空题 <span class="font-bold text-success" id="STNUM4">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('4')" type="text" id="STScores4" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS4">0</span> 分；
                    </div>


                    <div class="col-sm-6 m-b-xs" id="display_kt_5">
                        简答题 <span class="font-bold text-success" id="STNUM5">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('5')" type="text" id="STScores5" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS5">0</span> 分；
                    </div>
                    <div class="col-sm-6 m-b-xs" id="display_kt_6">
                        名词解释题 <span class="font-bold text-success" id="STNUM6">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('6')" type="text" id="STScores6" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS6">0</span> 分；
                    </div>

                    <div class="col-sm-6 m-b-xs" id="display_kt_8">
                        论述题 <span class="font-bold text-success" id="STNUM8">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('8')" type="text" id="STScores8" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS8">0</span> 分；
                    </div>
                    <div class="col-sm-6 m-b-xs" id="display_kt_7">
                        案例分析题 <span class="font-bold text-success" id="STNUM7">0</span> 道，
					    每道<input class="form-control ml10 mr10 input_bottom" style="width: 60px;" onkeyup="DQcheckeNum('7')" type="text" id="STScores7" value="" />分,
					    共计 <span class="font-bold text-success" id="ZGSTS7">0</span> 分；
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="form-group m-t-md">
                    <button type="button" class="btn btn-w-m btn-success m-r-lg" onclick="EditBtnSubim()">保存</button>
                    <button type="button" class="btn btn-w-m btn-white" onclick="EditFormRest()">返回</button>
                </div>
            </div>
        </div>

    </div>
</div>


<!--试题查看-->
<div class="modal fade" id="searchDIV">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">单题查看</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <label for="field-1" class="control-label">题目属性： <span id="Span4">无</span></label>

                    </div>
                    <div class="col-md-6">

                        <label for="field-1" class="control-label">题目来源： <span id="Span5">无</span></label>
                    </div>
                    <div class="col-md-12">
                        <label for="field-1" class="control-label">题目类型： <span id="Span6">无</span></label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">题目描述：<span id="Span7">无</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="field-1" class="control-label" id="yxdivA" style="display: none; table-layout: fixed; word-break: break-all;">答案A：<span id="Span8">无</span></label>
                    </div>
                    <div class="col-md-6">
                        <label for="field-1" class="control-label" id="yxdivB" style="display: none; table-layout: fixed; word-break: break-all;">答案B：<span id="Span9">无</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="field-1" class="control-label" style="display: none; table-layout: fixed; word-break: break-all;" id="yxdivC">答案C：<span id="Span10">无</span></label>
                    </div>
                    <div class="col-md-6">
                        <label for="field-1" class="control-label" style="display: none; table-layout: fixed; word-break: break-all;" id="yxdivD">答案D：<span id="Span11">无</span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="field-1" class="control-label" style="display: none; table-layout: fixed; word-break: break-all;" id="yxdivE">答案E：<span id="Span12">无</span></label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">标准答案：<span id="Span13">无</span></label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="display: none;" id="yxdivG">得分关键字：<span id="Span14">无</span></label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12  text-center">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Scripts/HB_Paper/ManualTestPaper.js"></script>
