@{
    ViewData["nvc"] = "考试管理";
    ViewBag.Title = "易考通";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row  border-bottom white-bg dashboard-header">
    <h3>考试管理</h3>
    <div class="ibox-content">
        <div class="row form-horizontal">

            <div class="row">
                <div class="col-sm-3 m-b-xs">
                    <input type="text" placeholder="请输入考试名称" id="E_Name" class="form-control">
                </div>

                <div class="col-sm-3 m-b-xs">
                    <select class="form-control input-s-sm inline" id="E_Type">
                        <option value="0">请选择竞赛模式</option>
                        <option value="1">考试模式</option>
                        <option value="2">练习模式</option>
                    </select>
                </div>


                <div class="col-sm-3">
                    <div class="input-group">
                        <select class="form-control input-s-sm inline" id="E_IsState">
                            <option value="0">请输入激活状态</option>
                            <option value="1">已激活</option>
                            <option value="2">未激活</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="searchinfo()">搜索</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="hr-line-dashed"></div>

        <div class="row">
            <div class="pull-right">
                <button onclick="javascript:window.location.href = '/Admin/HB_Examination/AddIndex';" class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus m-r-xs"></i><span class="bold">新增考试设置</span></button>
                <button onclick="del_all()" type="button" class="btn btn-warning btn-sm"><i class="fa fa-trash m-r-xs"></i><span class="bold">删除考试设置</span></button>

                <button onclick="activation()" class="btn btn-info btn-sm" type="button"><i class="fa fa-check-square-o m-r-xs"></i><span class="bold">激活</span></button>
                <button onclick="closeactivation()" class="btn btn-danger  btn-sm" type="button"><i class="fa fa-power-off m-r-xs"></i><span class="bold">关闭激活</span></button>
            </div>
        </div>

        <div class="row m-t-sm table-responsive">
            <table class="table text-center table-bordered ">
                <thead>
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">
                            <input type="Checkbox" class="i-checks checkbox-all"></th>
                        <th class="text-center">考试名称</th>
                        <th class="text-center">竞赛模式</th>
                        <th class="text-center">考试有效时间</th>
                        <th class="text-center">激活状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="new_table text-center" id="tablelist">
                </tbody>
            </table>
        </div>

        <!--分页开始-->
        <div class="row text-center" id="PaginatorLibrary">
        </div>
        <!--分页结束-->
    </div>
</div>

<div class="modal fade" id="searchDIV">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">考试设置查看</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">考试名称：<span id="Span1"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">考试有效时间：<span id="Span2"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">竞赛模式：<span id="Span3"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">考试时长(min)：<span id="Span4"></span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">是否时间加分：<span id="Span5"></span></label>
                    </div>
                </div>

                <div class="row" id="serachTadm" style="display: none;">
                    <div class="col-md-12">
                        <label for="field-1" class="control-label" style="table-layout: fixed; word-break: break-all;">分配支行：<span id="Span6"></span></label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12  text-center">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Scripts/HB_Examination/Index.js"></script>
