@{
    ViewBag.Title = "易考通";
    ViewBag.nvc = "课程管理";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row  border-bottom white-bg dashboard-header">
    <form id="form_Course" class="form-horizontal">
        <h3>添加课程</h3>
        <div class="ibox-content">

            <!--课程名称-->
            <div class="form-group">
                <label class="col-sm-2 control-label">课程名称：</label>
                <div class="col-sm-6">
                    <input class="form-control" id="CourseName" name="CourseName" value="" maxlength="60" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">添加课程：</label>
                <div class="col-sm-6">
                    <div class="m-b-sm"><span id="UpName">上传名称显示</span>  <span id="WaitingUp" class="text-danger"></span>@*<button class="btn btn-danger btn-sm m-l-sm">删除</button>*@</div>
                    <button type="button" onclick="btn_Update(1)" class="btn  btn-success ">选择文件</button>
                    @*<button class="btn btn-primary btn-sm m-l-sm">开始上传</button>*@
                    <div class="m-t-sm">
                        <span>(上传仅支持：MP4视频格式，MP3音频格式,ppt、doc等文档格式。文件大小在500MB以内)</span>
                    </div>
                </div>
            </div>
            <input type="file" id="upfile" name="upfile" style="display: none;" />
            <input type="file" id="upimg" name="upimg" style="display: none;" />
            <div class="form-group">
                <label class="col-sm-2 control-label">添加封面：</label>
                <div class="col-sm-6">
                    <div class="m-b-sm"><span id="UpName_img">上传封面显示</span><span id="WaitingUp_img" class="text-danger"></span> </div>
                    <button type="button" onclick="btn_Update(2)" class="btn btn-primary">选择封面</button>
                    <span class="m-l-sm">(支持：gif、jpg、jpeg、bmp、png格式　建议尺寸：270px*260px)</span>
                    <div class="col-sm-6 m-t-sm" id="addimg" style="position: relative;">
                        <img class="img_close" src="~/img/iconclose.png" onclick="Close()" style="position: absolute; left: 165px; top: -5px;">
                        <img class="img_close" style="width: 170px; height: 160px; cursor: pointer;" src="/img/student/icoppt.png" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="use" class="col-sm-2 control-label">启用：</label>
                <div class="col-sm-6">
                    <input type="checkbox" name="use" class="i-checks" id="use" value="1" /><span class="m-l-sm ">打勾表示公开</span>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <a href="javascript:void(0);" onclick="Save()" class="btn btn-w-m btn-success m-r-lg">保存</a>
                        <a href="@Url.Action("Courselist", "CourseManagement")" class="btn btn-w-m btn-default ">取消</a>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Areas/Admin/Scripts/CourseManagement/CourseManagement.js"></script>
