@{
    ViewBag.Title = "易考通";
    ViewData["nvc"] = "首页";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    .banquan {
        display:none;
    }
</style>

<div>
    <img style="width:100%;" src="~/img/student/shouyetu.png" />
</div>
